@layer reset {
    *, *::before, *::after {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
}

:root {
    /* Colors */
    --gray-0: #f8fafb;
    --gray-3: #e0e4e5;
    --gray-6: #979b9d;
    --gray-9: #50514f;
    --gray-12: #121210;

    --red-0: #fff5f5;
    --red-3: #ffa8a8;
    --red-6: #fa5252;
    --red-9: #c92a2a;
    --red-12: #7d1a1a;

    --pink-0: #fff0f6;
    --pink-3: #faa2c1;
    --pink-6: #e64980;
    --pink-9: #a61e4d;
    --pink-12: #59102a;

    --blue-0: #e7f5ff;
    --blue-3: #74c0fc;
    --blue-6: #228be6;
    --blue-9: #1864ab;
    --blue-12: #0d375e;

    --green-0: #ebfbee;
    --green-3: #8ce99a;
    --green-6: #40c057;
    --green-9: #2b8a3e;
    --green-12: #133d1b;

    --yellow-0: #fff9db;
    --yellow-3: #ffe066;
    --yellow-6: #fab005;
    --yellow-9: #e67700;
    --yellow-12: #663500;

    --brown-0: #faf4eb;
    --brown-3: #d3b79e;
    --brown-6: #a87c56;
    --brown-9: #6f4b2d;
    --brown-12: #422412;

    --dietpi-light: #c5ff00;
    --dietpi-dark: #9ccc00;

    /* Borders */
    --border-size-1: 1px;
    --border-size-2: 2px;
    --border-size-3: 5px;
    --border-size-4: 10px;
    --border-size-5: 25px;

    --radius-xs: 3px;
    --radius-sm: 6px;
    --radius-md: 8px;
    --radius-lg: 12px;
    --radius-xl: 16px;

    /* Shadows */
    --shadow-xs: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    --shadow-sm: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
        0 2px 4px -1px rgba(0, 0, 0, 0.06);
    --shadow-md: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -2px rgba(0, 0, 0, 0.05);
    --shadow-lg: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
        0 10px 10px -5px rgba(0, 0, 0, 0.04);
    --shadow-xl: 0 25px 50px -12px rgba(0, 0, 0, 0.25);

    /* Fonts */
    --font-system-ui: system-ui, sans-serif;
    --font-monospace-code: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;

    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --font-weight-extrabold: 800;
    --font-weight-black: 900;

    --font-size-000: 0.75rem;
    --font-size-00: 0.875rem;
    --font-size-0: 1rem;
    --font-size-1: 1.125rem;
    --font-size-2: 1.25rem;
    --font-size-3: 1.5rem;
    --font-size-4: 1.875rem;
    --font-size-5: 2.25rem;
    --font-size-6: 3rem;
    --font-size-7: 3.75rem;
    --font-size-8: 4.5rem;

    /* Sizes */
    --size-000: -0.5rem;
    --size-00: -0.25rem;
    --size-1: 0.25rem;
    --size-2: 0.5rem;
    --size-3: 1rem;
    --size-4: 1.25rem;
    --size-5: 1.5rem;
    --size-6: 1.75rem;
    --size-7: 2rem;
    --size-8: 3rem;
    --size-9: 4rem;
    --size-10: 5rem;
    --size-11: 7.5rem;
    --size-12: 10rem;
    --size-13: 15rem;
    --size-14: 20rem;
    --size-15: 30rem;
}

body {
    display: grid;
    grid-template-columns: var(--size-13) auto;
    grid-template-rows: var(--size-8) auto var(--size-9);
    grid-template-areas:
        "title head"
        "nav   main"
        "nav   foot";

    min-height: 100vh;

    font-family: var(--font-system-ui);

    transition: grid-template-columns 500ms;

    &.nav-closed {
        grid-template-columns: 0 auto;
    }
}

h1 {
    grid-area: title;

    display: grid;
    place-content: center;

    background-color: var(--dietpi-dark);

    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-4);
    text-wrap: nowrap;
}

header {
    grid-area: head;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: var(--size-2);

    background-color: var(--dietpi-light);

    font-size: var(--font-size-2);
}

footer {
    grid-area: foot;
}

nav {
    grid-area: nav;

    display: grid;
    grid-template-columns: min-content auto;
    grid-auto-rows: var(--size-8);

    background-color: var(--gray-12);

    a {
        grid-column: span 2;

        display: grid;
        grid-template-columns: subgrid;
        align-content: center;

        padding-inline: var(--size-2);
        gap: var(--size-2);

        color: var(--gray-3);
        text-decoration: none;

        font-size: var(--font-size-3);

        &:hover {
            background-color: var(--gray-9);
        }
    }
}

main {
    grid-area: main;

    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: var(--size-2);

    padding: var(--size-2);

    background-color: var(--gray-0);
}

section {
    display: flex;
    flex-direction: column;
    gap: var(--size-2);

    flex: auto;
    padding: var(--size-2);

    background-color: white;
    border-radius: var(--radius-md);
    box-shadow: var(--shadow-md);
    border-top: var(--border-size-3) solid var(--gray-3);

    h2 {
        border-bottom: var(--border-size-2) solid var(--gray-3);

        font-weight: var(--font-weight-medium);
    }
}

button:has(svg:only-child) {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

select {
    padding: var(--size-1);

    background-color: white;
    border-radius: var(--radius-sm);
    border: var(--border-size-1) solid black;
}

.meter-container {
    height: var(--size-4);

    background-color: var(--gray-6);

    * {
        height: 100%;

        background-color: var(--meter-color);
        width: var(--meter-width);
    }
}